# Captures de trames réalisées
captures/
logs/
exports/
ml/ml/

# Python cache files
__pycache__/

# BDD SQLite
*.db

# Fichiers IDEs
.vscode/
.idea/

# Fichiers report
*_report.txt

# Paramètres de Claude
.claude/settings.local.json